header{
    background-color: steelblue;
}
main{
    background-color: darkgray;
}
nav{
    background-color: teal;
}
aside{
    background-color: forestgreen;
}
footer{
    background-color: pink;
}
.small-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}
.big-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 100vh;
    padding: 5px;
}
.list-class{
    list-style-type: none;
    text-align: center;
}
.list-class > li{
    display: inline;
    padding: 5px;
}