body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(151, 126, 127);
    text-align: center;
}
main{
    background-color: rgb(236, 232, 232);
}
nav{
    background-color: rgb(192, 192, 192);
    text-indent: 2%;
}
footer{
    background-color: rgb(223, 188, 184);
    text-align: center;
}
.textbox{
    border: none;
    border-radius: 15px;
    width: 85%;
    height: 33vh;
    position: relative;
    text-indent: 5%;
    padding: 5px;
}
.green-button{
    background-color: rgb(93, 153, 124);
    border: none;
    border-radius: 15px;
    padding: 20px;
    color: white;
    margin: 25px;
    display: inline;
}
.black-button{
    background-color: rgb(105, 105, 105);
    border: none;
    border-radius: 15px;
    padding: 20px;
    color: white;
    margin: 25px;
    display: inline;
    float: right;
}
.red-button{
    background-color: rgb(212, 59, 21);
    border: none;
    border-radius: 15px;
    padding: 20px;
    color: white;
    display: inline;
}
.section1{
    flex-basis: 100px;
    flex-grow: 13;
    flex-shrink: 1;
}
.section3{
    flex-grow: 1;
    text-align: center;
    flex-basis: 200px;
}
.section4{
    margin-top: 2%;
    flex-grow: 1;
    text-align: center;
}
.small-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 1fr;
    gap: 15px;
}
.big-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 15px;
    height: 97vh;
    width: 99vw;
}
.small-flex{
    display: flex;
    flex-direction: column;
}
.smaller-flex{
    display: flex;
    flex-grow: 1;
}
@media screen and (max-width: 960px){
    .small-grid{
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
    }
  }